{{ define "content" }}
<br/>
<br/>
<br/>
<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><h1>{{ .ListTitle }}</h1></li>
  </ol>

  <table class="table table-hover">
    <tbody>
      {{ range $i, $e := .Events }}
      <tr>
        <td>
          <span class="breadcrumb-item">
            <a href="/events/{{ $e.Slug }}/">{{ $e.Title }}</a>
          </span>
          <span class="breadcrumb-item">
            <a href="/events/{{ $e.Slug }}/editions/{{ $e.CurrentEdition.Slug }}">{{ $e.CurrentEdition.Title }}</a>
          </span>
        </td>
        <td>
          {{ range $i, $c := .Categories }}
            {{ if eq $i 0 | not }} / {{ end }}<a href="/cats/{{ $c.Slug }}">{{ $c.Title }}</a>
          {{ end }}
        </td>
        {{ with $e.CurrentEdition }}
        <td>
          <img data-toggle="tooltip" title="{{ .Country }}, {{ .City }}" style="width:25px" src="/img/flags-mini/{{ .Country | lower }}.png"/>
        </td>
        <td>
          {{ if .Ends | isPast }}
            Last one was from <strong>{{ .Starts | toDateLong }}</strong> to <strong>{{ .Ends | toDateLong }}</strong>.
          {{ else }} 
            Next one will be from <strong>{{ .Starts | toDateLong }}</strong> to <strong>{{ .Ends | toDateLong }}</strong>.
          {{ end }}
        </td>
        <td>
          {{ range $j, $a := .Attributes }}
            <i data-toggle="tooltip" title="{{ $a.Description }}" class="fa fa-{{ $a.Slug }}" aria-hidden="true"></i>
          {{ end }}
        </td>
        {{ end }}
      <tr>
      {{ end }}
    </tbody>
  </table>

</div>
{{ end }}
