{{ define "content" }}
<br/>
<br/>
<br/>
<div class="container">

{{ with .Event }}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">~</a></li>
  <li class="breadcrumb-item active"><h1>{{ .Title }}</h1></li>
</ol>

<div class="fork-icon">
  <a href="https://github.com/ConfWatch/confwatch-data/tree/master/events/{{ .Slug }}/event.json" target="_blank">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </a>
</div>

<p class="lead">
  {{ .Description }}
</p>

<div class="addthis_sharing_toolbox"></div>
{{ range $i, $c := .Categories }}
  {{ if eq $i 0 | not }} / {{end}} <a href="/cats/{{ $c.Slug }}">{{ $c.Title }}</a> 
{{ end }}
-
<a href="{{ .Website }}" target="_blank">{{ .Website }}</a>
{{end}}

<br/>
<br/>

{{ if .Present }}
  <h2>Happening Now!</h2>  
  {{ range $i, $e := .Present }}
    <a href="/events/{{ $.Event.Slug }}/editions/{{ $e.Slug }}/">{{ $e.Title }}</a><br/>
  {{ end }}
{{ end }}

{{ if .Future }}
<h3>Future</h3>
<table class="table table-hover">
  <tbody>
    {{ range $i, $e := .Future }}
    {{ with $e }}
    <tr>
      <td>
        <a href="/events/{{ $.Event.Slug }}/editions/{{ .Slug }}/">{{ .Title }}</a><br/>
      </td>
      <td>
        <img data-toggle="tooltip" title="{{ .Country }}, {{ .City }}" style="width:25px" src="/img/flags-mini/{{ .Country | lower }}.png"/>
      </td>
      <td>
        From <strong>{{ .Starts | toDateLong }}</strong> to <strong>{{ .Ends | toDateLong }}</strong>.
      </td>
      <td>
        {{ range $k, $a := .Attributes }}
          <i data-toggle="tooltip" title="{{ $a.Description }}" class="fa fa-{{ $a.Slug }}" aria-hidden="true"></i>
        {{ end }}
      </td>
    <tr>
    {{ end }}
    {{ end }}
  </tbody>
</table>
{{ end }}

<br/>

{{ if .Past }}
<h3>Past</h3>
<table class="table table-hover">
  <tbody>
    {{ range $i, $e := .Past }}
    {{ with $e }}
    <tr>
      <td>
        <a href="/events/{{ $.Event.Slug }}/editions/{{ .Slug }}/">{{ .Title }}</a><br/>
      </td>
      <td>
        <img data-toggle="tooltip" title="{{ .Country }}, {{ .City }}" style="width:25px" src="/img/flags-mini/{{ .Country | lower }}.png"/>
      </td>
      <td>
        From <strong>{{ .Starts | toDateLong }}</strong> to <strong>{{ .Ends | toDateLong }}</strong>.
      </td>
      <td>
        {{ range $k, $a := .Attributes }}
          <i data-toggle="tooltip" title="{{ $a.Description }}" class="fa fa-{{ $a.Slug }}" aria-hidden="true"></i>
        {{ end }}
      </td>
    <tr>
    {{ end }}
    {{ end }}
  </tbody>
</table>
{{ end }}

</div>
{{ end }}
