<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/favicon.png?v=4">

    {{ with .SEO }}
      <title>{{ .Title }}</title>
      <meta name="description" content="{{ .Description }}">
      {{ if .Keywords }}
        <meta name="keywords" content="{{ .Keywords }}">
      {{ end }}

      <meta property="og:title" content="{{ .Title }}" />
      <meta property="og:site_name" content="{{ .Title }}" />
      <meta property="og:image" content="/img/avatar.png" />
      <meta property="og:description" content="{{ .Description }}" />
      <meta property="og:type" content="website" />
    {{ end }}

    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/jquery/jquery.min.js"></script>
  </head>

  <body>

    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">

          <div class="nav navbar-nav nav-left">

            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="categories">Categories <span class="caret"></span></a>
                  <div class="dropdown-menu" aria-labelledby="categories">
                    {{ range $i, $c := .Categories }}
                      <a class="dropdown-item" href="/cats/{{ $c.Slug }}/">
                        {{ $c.Title }}
                        <span class="badge badge-pill badge-dark">{{ $c.CountEvents }}</span>
                      </a>
                    {{ end }}
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="nav navbar-nav nav-center">
            <a class="nav-link nav-logo-link" href="/">
              <img class="nav-logo" src="/img/navbar-logo.png"/> 
            </a>
          </div>

          <div class="nav navbar-nav nav-right">
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="countries">Countries <span class="caret"></span></a>
                  <div class="dropdown-menu" aria-labelledby="countries">
                    {{ range $i, $c := .Countries }}
                      <a class="dropdown-item" href="/c/{{ $c }}/">
                        <img 
                          data-toggle="tooltip" 
                          title="{{ $c }}" 
                          style="width:25px" 
                          src="/img/flags-mini/{{ $c | lower }}.png"/>

                        {{ $c | countryName }}

                        <span class="badge badge-pill badge-dark">{{ CountByCountry $c }}</span>
                      </a>
                    {{ end }}
                  </div>
                </li>
              </ul>
            </div>

            <a class="nav-link" href="/events/">All</a>
          </div>

          <div class="nav navbar-nav nav-far-right">
            <a class="nav-link" href="https://twitter.com/confwatchninja" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a class="nav-link" href="https://github.com/ConfWatch" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </div>
      </div>
    </div>

    {{ template "content" . }}

    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/css/bootstrap/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4da572964da15ce9"></script> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111748319-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111748319-1');
    </script>

  </body>

</html>
