<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ with .SEO }}
      <title>{{ .Title }}</title>
      <meta name="description" content="{{ .Description }}">
      {{ if .Keywords }}
        <meta name="keywords" content="{{ .Keywords }}">
      {{ end }}
    {{ end }}

    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <link rel="icon" href="/img/favicon.png">

  </head>

  <body>

    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">

          <div class="nav navbar-nav nav-left">

            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="categories">Categories <span class="caret"></span></a>
                  <div class="dropdown-menu" aria-labelledby="categories">
                    {{ range $i, $c := .Categories }}
                      <a class="dropdown-item" href="/cats/{{ $c.Slug }}/">{{ $c.Title }}</a>
                    {{ end }}
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="nav navbar-nav nav-center">
            <a class="nav-link nav-logo-link" href="/">
              <img class="nav-logo" src="/img/navbar-logo.png"/> 
            </a>
          </div>

          <div class="nav navbar-nav nav-right">
            <a class="nav-link" href="/events/">All</a>
          </div>

      </div>
    </div>

    {{ template "content" . }}

    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111748319-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111748319-1');
    </script>

  </body>

</html>
