div.header {
    background-image: url(/img/intro-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

div.nav-left {
    position: relative;
    right: 50%;
    margin: 0 auto;
    margin-right: -20px;
}

div.nav-center {
    position: absolute;
    left: 50%;
    margin: 5px 0px 0px -32.5px;
}

div.nav-right {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    margin-left: 55px;
}

div.nav-far-right {
    float:right;
}

img.nav-logo {
    width: 65px;
}

.fa-invite-only::before {
    font-family: FontAwesome;
    content: "\f023";
}

.fa-code-of-conduct::before {
    font-family: FontAwesome;
    content: "\f02d";
}

.fa-kids-friendly::before {
    font-family: FontAwesome;
    content: "\f118";
}

.fa-pets-friendly::before {
    font-family: FontAwesome;
    content: "\f1b0";
}

li.breadcrumb-item h1 {
    margin: 0;
    padding: 0;
    font-size: initial;
    line-height: initial;
    display: inline;
}

div.datepicker {
    width: 100% !important;
    background-color: #4E5D6C;
}

div.datepicker-days > table.table-condensed {
    width: 100% !important;
}

.datepicker table tr td {
    background-color:#8d9dad;
    border-radius: 0px;
    font-weight: bold;
}

.datepicker table tr td.old {
    background-color:transparent;
    font-weight: normal;
}

.card-header a {

}

.card-footer *,
.card-footer a:hover {
    color: #3E4D5C;
    text-shadow: 1px 1px #4E5D6C;
}

.home-header {
    margin-top: -81px;
    background-color: black;
    height: 50px;
    opacity: .7;
    padding-top: 15px;
    padding-left: 65px;
    font-size: 1.2rem;
    color:white;
}

div.home-card {
    margin-top: 10px;
}

div.home-card .card-body {
    height: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

div.fork-icon {
    float: right;
    position: absolute;
    right: 65px;
    top: 80px;
    font-size: 1.6rem;
}

div.fork-icon a {
    color: #3B4E60;
}

#footer {
    color: #4E5D6C;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 0.8rem;
}


#footer * {
    color: #4E5D6C;
}
