{{ define "content" }}
<br/>
<br/>
<br/>
<div class="container">

<h1>
  <a href="/">~</a> / 
  <a href="/events/{{ .Event.Slug }}/">{{ .Event.Title }}</a> / 
  {{ .Edition.Title }}
</h1>

{{ with .Edition }}
<strong>Starts</strong> {{ .Starts }}<br>
<strong>Ends</strong> {{ .Ends }}<br>
<br>
<strong>Attributes</strong> 
{{ range $j, $a := .Attributes }}
  <i  data-toggle="tooltip" title="{{ $a.Description }}" class="fa fa-{{ $a.Slug }}" aria-hidden="true"></i>
{{ end }}

<br><br>

<p>
  {{ .Description }}
</p>

<br/>

{{ .Country }}, {{ .City }}, {{ .Address }}
<iframe
  width="100%"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCY1ZMAXsh11RVoMCAl6IlauNDkCdDwwxA&q={{ .Country }},{{ .City }},{{ .Address }}" allowfullscreen>
</iframe>

{{ end }}

<br/>
<br/>

<iframe src="https://twitter.com/search?l=&q={{ .SocialStream }}&src=typd" width="100%"></iframe>

</div>
{{ end }}
