{{ define "content" }}
<br/>
<br/>
<br/>
<div class="container">

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">~</a></li>
  <li class="breadcrumb-item"><a href="/events/{{ .Event.Slug }}/">{{ .Event.Title }}</a></li>
  <li class="breadcrumb-item active"><h1>{{ .Edition.Title }}</h1></li>
</ol>

{{ with .Edition }}

<p class="lead">
  {{ .Description }}
</p>

<div class="row">

  <div class="col col-6">
    <div class="card text-white bg-secondary mb-6">
      <div class="card-header">
        From <strong>{{ .Starts | toDateLong }}</strong> to <strong>{{ .Ends | toDateLong }}</strong>.
        <span style="float:right">
          {{ range $j, $a := .Attributes }}
          <i  data-toggle="tooltip" title="{{ $a.Description }}" class="fa fa-{{ $a.Slug }}" aria-hidden="true"></i>
          {{ end }}
        </span>
      </div>
      <div class="card-body">
        <p class="card-text">
          <div data-date-start-date="{{ .Starts | toDate }}" data-date-end-date="{{ .Ends | toDate }}" class="datepicker"></div>
        </p>
      </div>
    </div>
  </div>

  <div class="col col-6">
    <div class="card text-white bg-secondary mb-6">
      <div class="card-header">
        {{ .Country }}, {{ .City }}, {{ .Address }}
      </div>
      <div class="card-body">
        <p class="card-text">
          <iframe
             width="100%"
             height="450"
             frameborder="0" 
             style="border:0"
             src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCY1ZMAXsh11RVoMCAl6IlauNDkCdDwwxA&q={{ .Country }},{{ .City }},{{ .Address }}" allowfullscreen>
          </iframe>
        </p>
      </div>
    </div>
  </div>

</div>

{{ end }}

<br/>

<iframe src="https://twitter.com/search?l=&q={{ .SocialStream }}&src=typd" width="100%"></iframe>

<script>
$(function(){
  $('.datepicker').datepicker();
});
</script>
</div>
{{ end }}
