{{ define "content" }}

{{ with .Edition }}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Event",
  "name" : "{{ .Title }}",
  "description": "{{ .Description }}",
  "url": "{{ .Website }}",
  "startDate" : "{{ .Starts }}",
  "endDate" : "{{ .Ends }}",
  "location" : {
    "@type" : "Place",
    "name" : "{{ .Country }}, {{ .City }}, {{ .Address }}",
    "address" : {
      "@type" : "PostalAddress",
      "streetAddress" : "{{ .Address }}",
      "addressLocality" : "{{ .City }}",
      "addressRegion" : "{{ .Country }}"
    }
  }
}
</script>
{{ end }}

<div class="container">

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">~</a></li>
  <li class="breadcrumb-item"><a href="/events/{{ .Event.Slug }}/">{{ .Event.Title }}</a></li>
  <li class="breadcrumb-item active"><h1>{{ .Edition.Title }}</h1></li>
</ol>

{{ with .Edition }}

<div class="fork-icon">
  <a href="https://github.com/ConfWatch/confwatch-data/tree/master/events/{{ $.Event.Slug }}/editions/{{ .Slug }}.json" target="_blank">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </a>
</div>

<p class="lead">
  {{ $.Event.Description }}
</p>

<div class="addthis_sharing_toolbox"></div>
<a href="{{ .Website }}" target="_blank">{{ .Website }}</a>
<br/>
<br/>

<div class="row">

  <div class="col col-6">
    <div class="card text-white bg-secondary mb-6">
      <div class="card-header">
        From <strong>{{ .Starts | toDateLong }}</strong> to <strong>{{ .Ends | toDateLong }}</strong>.
        <span style="float:right">
          {{ range $j, $a := .Attributes }}
          <i  data-toggle="tooltip" title="{{ $a.Description }}" class="fa fa-{{ $a.Slug }}" aria-hidden="true"></i>
          {{ end }}
        </span>
      </div>
      <div class="card-body" style="height:400px;">
        <p class="card-text">
          <div data-date-start-date="{{ .Starts | toDate }}" data-date-end-date="{{ .Ends | toDate }}" class="datepicker"></div>
        </p>
      </div>
    </div>
  </div>

  <div class="col col-6">
    <div class="card text-white bg-secondary mb-6">
      <div class="card-header">
        {{ .Country }}, {{ .City }}, {{ .Address }}
      </div>
      <div class="card-body">
        <p class="card-text" style="margin: -20px;">
          <iframe
             width="100%"
             height="400"
             frameborder="0" 
             style="border:0; margin-bottom: -10px;"
             src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCY1ZMAXsh11RVoMCAl6IlauNDkCdDwwxA&q={{ .Country }},{{ .City }},{{ .Address }}" allowfullscreen>
          </iframe>
        </p>
      </div>
    </div>
  </div>

</div>

{{ end }}

<br/>

<div id="disqus_thread"></div>
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://confwatch-ninja.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
<!--
<iframe src="https://twitter.com/search?l=&q={{ .SocialStream }}&src=typd" width="100%"></iframe>
-->

<script>
$(function(){
  $('.datepicker').datepicker();
});
</script>
</div>
{{ end }}
