{{ define "content" }}
<div class="header jumbotron">
  <center>
    <p class="lead home-stats">
    Discover <span class="badge badge-pill badge-dark">{{ .CountEditions }}</span> editions of <span class="badge badge-pill badge-dark">{{ .CountEvents }}</span> different events accross <span class="badge badge-pill badge-dark">{{ .CountCountries }}</span> countries, organized in <span class="badge badge-pill badge-dark">{{ .CountCategories }}</span> categories.
    </p>
    <br>
    <br>
    <br>
    <div class="cloud">
    {{ range $i, $e := .Cloud }}
      {{ if eq $e.Type "a" }}
         <a class="tag" href="/cats/{{ $e.Slug }}" title="{{ $e.Title }}" style="font-size:{{ $e.Size }}rem">{{ .Title }}</a>
      {{ else }}
        <a href="/c/{{ $e.Slug }}">
          <img src="/img/flags-mini/{{ $e.Slug | lower }}.png" title="{{ $e.Title }}" style="width:{{ $e.Size }}rem"/>
        </a>
      {{ end }}
    {{ end }}
    </div>
  </center>
</div>
<h4 class="home-header">
  <div class="container">
    <i class="fa fa-calendar" aria-hidden="true"></i> Upcoming Schedule
  </div>
</h4>
<div class="container">

<div class="row">
{{range $i, $e := .Next}}
  <div class="col-4">

    <div class="card home-card">
    {{ with $e }}
      {{ $event := .Event }}
      <div class="card-header">
        <a href="/events/{{ $event.Slug }}/editions/{{ .Slug }}">{{ .Title }}</a>
      </div>

      <div class="card-body">
        <p class="card-title">
          In <img data-toggle="tooltip" title="{{ .Country }}, {{ .City }}" style="width:30px; margin:3px;" src="/img/flags-mini/{{ .Country | lower }}.png"/> from <strong>{{ .Starts | toDateLong }}</strong> to <strong>{{ .Ends | toDateLong }}</strong>
        </p>
        <p class="card-text">{{ limit .Description 150 }}</p>
      </div>

      <div class="card-footer">
        {{ range $j, $c := $event.Categories }}
          {{ if eq $j 0 | not }}, {{ end }}<a href="/cats/{{ $c.Slug }}">{{ $c.Title }}</a>
        {{ end }}
        <span style="float:right">
          {{ range $j, $a := .Attributes }}
            <i data-toggle="tooltip" title="{{ $a.Description }}" class="fa fa-{{ $a.Slug }}" aria-hidden="true"></i>
          {{ end }}
        </span>
      </div>
    {{ end }}
    </div>

  </div>
{{end}}
</div>

</div>

</div>

{{ end }}

