{{ define "content" }}
<div class="header jumbotron">
  <center>
    <p class="lead">
    Discover <span class="badge badge-pill badge-dark">{{ .CountEditions }}</span> editions of <span class="badge badge-pill badge-dark">{{ .CountEvents }}</span> different events accross <span class="badge badge-pill badge-dark">{{ .CountCountries }}</span> countries, organized in <span class="badge badge-pill badge-dark">{{ .CountCategories }}</span> categories.
    </p>
    <br>
    <br>
    <br>
    <h1>Flags and Categories Cloud</h1>
  </center>
</div>
<h4 class="home-header">
  <i class="fa fa-calendar" aria-hidden="true"></i> Upcoming Schedule
</h4>
<div class="container">
<div class="row">
{{range $i, $e := .Next}}
  <div class="col-4">
  <div class="card text-white bg-secondary ml-3 home-card">
    {{ with $e.CurrentEdition }}
      <div class="card-header">
        <a href="/events/{{ $e.Slug }}/editions/{{ .Slug }}">{{ .Title }}</a>
      </div>

      <div class="card-body">
        <p class="card-title">
          In <img data-toggle="tooltip" title="{{ .Country }}, {{ .City }}" style="width:40px; margin:3px;" src="/img/flags-mini/{{ .Country | lower }}.png"/> from <strong>{{ .Starts | toDateLong }}</strong> to <strong>{{ .Ends | toDateLong }}</strong>
        </p>
        <p class="card-text">{{ .Description }}</p>
      </div>

      <div class="card-footer">
        {{ range $j, $c := $e.Categories }}
          {{ if eq $j 0 | not }}, {{ end }}<a href="/cats/{{ $c.Slug }}">{{ $c.Title }}</a>
        {{ end }}
        <span style="float:right">
          {{ range $j, $a := .Attributes }}
            <i data-toggle="tooltip" title="{{ $a.Description }}" class="fa fa-{{ $a.Slug }}" aria-hidden="true"></i>
          {{ end }}
        </span>
      </div>
    {{ end }}
  </div>
  </div>
{{end}}
</div>
</div>

</div>

{{ end }}

